src/main/resources/archetype-resources/src/main/resources/META-INF/wsdl/__wsdlName__.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace ="http://${domain}/${namespace}/${namespaceVersion}/schemas"
    xmlns:tns="http://${domain}/${namespace}/${namespaceVersion}/schemas"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    jaxb:version="1.0">

    <!-- <xsd:annotation>
        <xsd:appinfo>
            <jaxb:globalBindings>
                <jaxb:javaType name="java.util.Date" xmlType="xsd:dateTime"
                    parseMethod="com.gfi.corp.utils.XsdDateTimeConverter.unmarshal"
                    printMethod="com.gfi.corp.utils.XsdDateTimeConverter.marshalDateTime" />
                <jaxb:javaType name="java.util.Date" xmlType="xsd:date"
                    parseMethod="com.gfi.corp.utils.XsdDateTimeConverter.unmarshal"
                    printMethod="com.gfi.corp.utils.XsdDateTimeConverter.marshalDate" />
            </jaxb:globalBindings>
        </xsd:appinfo>
    </xsd:annotation> -->

    <xsd:complexType name="${wsdlName}Type">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" maxOccurs="1"  nillable="false" />
            <xsd:element name="message" type="xsd:string" maxOccurs="1" nillable="false" />
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>